<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSV Uploader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <style>
        h3{
        text-align: center;
        }
        .word {
        color: #2d67b2;
        }
        .word:before {
        color:#f26722;
        content: "CSV ";
        }
    </style>
    <body>
        <h3 class="word">Uploader</h3>
        <div class="container">
            <div class="row">
                {% if success_msg %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> File Uploaded Successfully.
                </div>
                {% endif %}
                {% if error_msg %}
                <div class="alert alert-warning alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{errors}}
                </div>
                {% endif %}
            </div>
            <div class="row">
                <form class="form-inline" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file-upload">Please Upload Your File:</label>
                        <input id="file-upload" type="file" accept=".csv" name="upload" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>